@import '../../../styles/variables.scss';

.faq {
    margin-bottom: 7.5rem;
    overflow-x: hidden;

    @media (min-width: $desktop) {
        margin-bottom: 10rem;
    }

    &__title {
        text-align: center;
    }
}
